extends ../layouts/common

include ../pagination/index.pug
block content
  mixin bookItem(book)
    li= book.title
      | &nbsp;
      a(href=`/books/${book.id}/addToCart`) add to cart
  .container
    .row
      .col-12
        form(class="form-inline", action="/books", method="get")
            .form-group
              input#inputEmail4.form-control(type='text', placeholder='Enter your keyword to search ...', name="q", value=q)
              button.btn.btn-secondary(type='submit') Search
        ul
          each book in books
            +bookItem(book)
      if pagination
        .col-12
          +paginationTmp(pagination)