extends ../layouts/common

block content
  div Create
  form(method="POST")
    div
      label(for='userName') Name: 
      input#userName.form-control(type='text', placeholder='Name', name="name" value=values? values.name: '')
      label(for='userEmail') Email: 
      input#userEmail.form-control(type='text', placeholder='Email', name="email" value=values? values.email: '')
      label(for='userPassword') Password: 
      input#userPassword.form-control(type='password', placeholder='Password', name="password")
    button.btn.btn-success(type='submit') Create
